@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Hopefully this is useful for learning about building ASP.NET web applications. And also for finding bus times!</p>